/* page layout styling */

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: sans-serif;
  transition: background-color 0.5s, color 0.5s;

  font-family: 'Courier New', Courier, monospace;
}

body.dark {
  background-color: #16001f;
  color: #e9e9e9;
}

body.light {
  background-color: #342c49;
  color: #e9e9e9;
}